<div class="app">
    <div class="container ">
        <!-- left size column  -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <label for="">Select an Image</label>
                            <input type="file" name="" class="form-control" accept="imace/*" id="">
                        </div>
                        <!-- top text -->
                        <div class="form-group">
                            <label for="">Top Text</label>
                            <input type="text" class="form-control" name="topText">
                        </div>

                        <!-- bottom text -->
                        <div class="form-group">
                            <label for="">Bottom Text</label>
                            <input type="text" class="form-control" name="bottomText">
                        </div>
                    </form>
                </div>
            </div>
        <!-- right size column  -->
        <div class="col-md-6"></div>
        </div>
    </div>
</div>