header {
  margin-top: -50px;
  height: 150px;
  text-align: center;
  padding: 20px;
  background-color: #f7f6fb;
}

.brand {
    font-family: "Figtree", sans-serif;
    font-size: 55px;
    color: #300EBE;
}
